.wrapper{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
    display: flex;
}

img{
    // NOTE: this may need to be overwritten in further partials to be a width property (if image is not stretching to take up available space within parent container)
    max-width: 100%;
    display: block;
}
