// blog styling
.blogHeader img{
        width: 100vw;
}
.blogH1{
    font-size: 4rem;
    position: relative;
    bottom: 100px;
}
.blogsMainContent{
        .wrapper{
            display: flex;
                .leftSection{
                width: 40%;
            }
                .rightSection{
                    width: 60%;
                }

        }

}
