// contact styling
.contactHeader{
    background-color: none;
        img{
            width: 100%;
        }
        .contactH1{
            font-size: 5rem;
        }
}
.contactMainContent{
        display: flex;
        .iconsContainer{
            width: 50%;
        }
        .formContainer{
            width: 50%;
        }

    }