.whoIsSophie{
    background-color: whitesmoke;
}
.whoIsSophieText{
    margin: 30px
}

.journeyImg{
    width: 100%;
}
.gallery{
    padding: 50px;
}
.galleryList{
    display: flex;
    justify-content: space-between;
}