// import Lora Serif font
@font-face {
    font-family: 'Lora', serif;
    src: url(https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap);
    font-weight: bold;
}

// import Roboto Sans-Serif font in bold
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);
    font-weight: bold;
}

// import Robot Sans-Serif font in regular

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
    font-weight: normal;
}


// typography

html{
    font-size: 125%;
}

nav{
    background-color: $orangeYellow;
}

h2,h3, h4, h5, .navBar, .button{
    font-family: $bodyFont;
    color: $primary;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

h1{
    font-family: $headingFont;
    font-size: 7rem;
    line-height: 92px;
    text-transform: uppercase;
}
h2{
    font-size: 2.4rem;
}

h3{
    font-size: 2rem;

}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.5rem;
}

p{
    line-height: 30px;
}

ul, li, a{
    padding: 0;
    margin: 0;
}

.postsList li::before {
    content: "• ";
    color: $orangeYellow;
    padding: 5px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;

}

.button{
    font-size: 1rem;
    background-color: $accent;
    line-height: 32px;
    padding: 15px 25px;
}

span{
    color: $secondary;
    font-weight: bold;
    font-style: italic;
}

span.normal{
    font-style: normal;
}
.italic{
    font-style: italic;
}
input{
    border: none;
    padding: 20px;
    background-color: white;
    width: 40%;
    margin-right: 15px;
}

textarea{
    border:none;
    margin-top: 20px;
    background-color: white;
    padding: 30px;
}

::placeholder{
    font-style: italic;     
}

.blogButton, .contactButton{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: $accent;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    width: 84%;
    padding: 5px;
}