// import Lora Serif font
@font-face {
    font-family: 'Lora', serif;
    src: url(https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap);
    font-weight: bold;
}

// import Roboto Sans-Serif font in bold
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);
    font-weight: bold;
}

// import Robot Sans-Serif font in regular

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
    font-weight: normal;
}


// typography

html{
    font-size: 125%;
}

nav, header{
    background-color: $orangeYellow;
}

h2,h3, h4, h5, .navBar, .button{
    font-family: $bodyFont;
    color: $primary;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

h1{
    font-family: $headingFont;
    font-size: 7rem;
    line-height: 92px;
    text-transform: uppercase;
}
h2{
    font-size: 2.4rem;
}

h3{
    font-size: 2rem;

}

h4{
    font-size: 2rem;
}

h5{
    font-size: 1.5rem;
}

p{
    line-height: 30px;
}

ul, li, a{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;

}

.button{
    font-size: 1rem;
    background-color: $accent;
    line-height: 32px;
    padding: 15px 25px;
}