// site fonts

$headingFont: 'Lora', serif;
$bodyFont: 'Roboto', sans-serif;


// root element font-size 125%
$baseFontSize: 1rem;

// site colours
$primary: #2c2c2c;
$secondary: #285e64;
$orangeYellow: #f6a823;
$grey: #414141;
$accent: #05afc1;
$rustRed: #a82706;
$whiteShade: #f0efed;
